<ul class="sidenav-user">
  <li ng-class="{active: $root.subNav == 'guest-details'}"><a href="#/guest-details/{{guest_id}}">GUEST DETAILS</a></li>
  <li ng-class="{active: $root.subNav == 'guest-order-history'}"><a href="#/guest-order-history/{{guest_id}}">ORDER HISTORY</a></li>
  <li ng-class="{active: $root.subNav == 'guest-offers'}"><a href="#/guest-offers/{{guest_id}}">OFFERS</a></li>
  <li ng-class="{active: $root.subNav == 'guest-communication-preferences'}"><a href="#/guest-communication-preferences/{{guest_id}}">COMMUNICATION PREFERENCES</a></li>
  <li ng-class="{active: $root.subNav == 'guest-activity-statistics'}"><a href="#/guest-activity-statistics/{{guest_id}}">ACTIVITY &amp; STATISTICS</a></li>
  <li ng-class="{active: $root.subNav == 'guest-emails'}"><a href="#/guest-emails/{{guest_id}}">EMAILS</a></li>
  <li ng-class="{active: $root.subNav == 'guest-unlock-special-offers'}"><a href="#/guest-unlock-special-offers/{{guest_id}}">UNLOCK SPECIAL OFFERS</a></li>
  <li ng-class="{active: $root.subNav == 'guest-teamhq'}"><a href="#/guest-teamhq/{{guest_id}}">TEAM HQ</a></li>
</ul>