<div class="row">

  <div class="intro">
    <h3>GUEST ADMINISTRATION</h3>
    <div class="divider sprite"></div>
    <h2>SEARCH RESULTS</h2>
    <p class="small">THERE WAS <span>23</span> RESULTS FOUND FOR YOUR SEARCH.</p>
  </div>

  <div class="pagination clearfix">
    <a href="#" class="left pagination-page-back"><span class="pagination-links-back sprite"></span>BACK TO SEARCH</a>
    <ul class="right pagination-links">
      <li><a href="#" class="pagination-links-back sprite">BACK</a></li>
      <li><a href="#" class="pagination-links-num">1</a></li>
      <li><a href="#" class="pagination-links-num">2</a></li>
      <li><a href="#" class="pagination-links-next sprite">NEXT</a></li>
    </ul>
  </div>

  <table class="list">
    <tr>
      <th>GUEST NAME</th>
      <th>FIRST NAME</th>
      <th>LAST NAME</th>
      <th>CONTACT NUMBER</th>
    </tr>
    <tr>
      <td><a href="#" target="_blank">jacobh@bostonpizza.com</a></td>
      <td>Jacob</td>
      <td>Heimer-schmidt</td>
      <td>416-787-9468</td>
    </tr>
    <tr>
      <td><a href="#" target="_blank">jacobh@bostonpizza.com</a></td>
      <td>Jacob</td>
      <td>Heimer-schmidt</td>
      <td>416-787-9468</td>
    </tr>
    <tr>
      <td><a href="#" target="_blank">jacobh@bostonpizza.com</a></td>
      <td>Jacob</td>
      <td>Heimer-schmidt</td>
      <td>416-787-9468</td>
    </tr>
    <tr>
      <td><a href="#" target="_blank">jacobh@bostonpizza.com</a></td>
      <td>Jacob</td>
      <td>Heimer-schmidt</td>
      <td>416-787-9468</td>
    </tr>
    <tr>
      <td><a href="#" target="_blank">jacobh@bostonpizza.com</a></td>
      <td>Jacob</td>
      <td>Heimer-schmidt</td>
      <td>416-787-9468</td>
    </tr>
  </table>

  <div class="pagination clearfix">
    <ul class="right pagination-links">
      <li><a href="#" class="pagination-links-back sprite">BACK</a></li>
      <li><a href="#" class="pagination-links-num">1</a></li>
      <li><a href="#" class="pagination-links-num">2</a></li>
      <li><a href="#" class="pagination-links-next sprite">NEXT</a></li>
    </ul>
  </div>

</div>