<ul class="sidenav-user">
  <li ng-class="{active: $root.subNav == 'teamhq-overview'}"><a href="#/teamhq-overview/{{team_id}}">TEAM OVERVIEW</a></li>
  <li ng-class="{active: $root.subNav == 'teamhq-edit-profile'}"><a href="#/teamhq-edit-profile/{{team_id}}">EDIT PROFILE</a></li>  
  <li ng-class="{active: $root.subNav == 'teamhq-edit-roster'}"><a href="#/teamhq-edit-roster/{{team_id}}">EDIT ROSTER</a></li>
  <li ng-class="{active: $root.subNav == 'teamhq-edit-rewards'}"><a href="#/teamhq-edit-rewards/{{team_id}}">EDIT REWARDS</a></li>
  <li ng-class="{active: $root.subNav == 'teamhq-status'}"><a href="#/teamhq-status/{{team_id}}">TEAM STATUS</a></li>
</ul>